/*institute heading starts */
.cir
{
	font-family: serif;
	background:tomato;
	color: white;
	opacity: 0.8;
	margin-top: 15px;
	border-radius: 5px;
	text-decoration: underline;

}
/*institute heading ends */
.qwe
{
	/*border: 2px solid red;*/
	color: grey;
	margin-top: 15px;
	border-radius: 5px;
}
.olo
{
	margin-top: 8px;
}
.hert
{
	margin-top: 50px;
}
.kloy
{
	background:tomato;
	opacity: 0.8;
}
#ghot
{
	background:tomato;
	color: white;
}