html,body
{
	height: 100%;
	width: 100%;
	font-family: 'poppins',sans-serif;
	color: #222;
}
/*IMAGE CSS */
.tapu img
{
	margin-top: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	border-radius: 10px;
}
/*IMAGE CSS ENDS */

/*TAPCELL HEADING CSS STARTS */
.cab
{
	font-family: serif;
	text-decoration: underline;
	margin-top: 20px;
	/*background: #fada5e;*/
	color:brown;
	border-radius: 5px;
}
.cab h1
{
	text-align: center;
}
.col-md-12
{
	text-align: center;
}
/*TAPCELL HEADING CSS ENDS */

/*TAPCELL SECTION CSS STARTS */
.rej
{
	margin-top: 12px;
}
/*TAPCELL CSS SECTION ENDS */

/*TAPCELL FOOTER STARTS */
.footer-sidebar
{
	color: #fff;
	background: #1abc9c;
	padding: 20px 0;
}
.footer-widget h4: after
{
	content: "";
	background: #fff;
	display: block;
	width: 50px;
	height: 2px;
	margin:5px 0;

}
.footer-widget a 
{
	color: #fff;

}
.latest-news
{
	list-style: none;
	padding: 0;
	margin: 0;

}

.latest-news li 
{
	margin-bottom: 3px;

}
/*TAPCELL FOOTER ENDS */

/*TAPCELL LAST FOOTER ENDS */
#footer
{
	color: #fff;
	background:;
	padding: 10px 0;
	background:#b62f2f;


}
#social
{
	list-style: none;
	color: #fff;
	margin:0;
	padding: 0;

}
#social li 
{
	display: inline-block;
	padding-left: 5px;
}

#social li a 
{
	color: #fff;
	font-size: 20px;

}
.hju
{
	margin-top: 20px;
	background:#b62f2f;
}
body
{
	background:white;
}
#rok
{
	color: brown;
}
.tapu img
{
	opacity: 0.8;
}
/*TAPCELL LAST FOOTER ENDS */

.tapcell111
{
	margin-top: 20px;
	background-color: #ff7675;
	border-radius: 5px;
	color: white;
}
.cabge
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.Recruiters5
{
	margin-top: 20px;

}
.img1
{
	border-radius: 20px;

}

